os: linux

dist: bionic

language: python

services:
    - docker

install:
    - docker build --build-arg PYTHON_VERSION="${PYTHON_VERSION}" -t tests -f Dockerfile--${TEST_PLATFORM}.tmpl .

script:
    - docker run -t tests

notifications:
    email:
        on_success: change
        on_failure: always

env:
    - TEST_PLATFORM=std3-all PYTHON_VERSION=3.7
    - TEST_PLATFORM=std3-all PYTHON_VERSION=3.8
    - TEST_PLATFORM=std3-all PYTHON_VERSION=3.9
    - TEST_PLATFORM=std3-all PYTHON_VERSION=3.10
    - TEST_PLATFORM=std3-all PYTHON_VERSION=3.11
    - TEST_PLATFORM=std3-all PYTHON_VERSION=3.12
    - TEST_PLATFORM=std3-all PYTHON_VERSION=3.13

